@model RingoMediaTask.Models.Entities.Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            </div>
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" name="Logo" class="form-control-file" type="file" onchange="previewImage(event)" />
                <img id="logoPreview" src="#" alt="Selected Logo" style="display: none; max-width: 100px; max-height: 100px;" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
