@model RingoMediaTask.Models.Entities.Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <input type="hidden" asp-for="IdDepartment" />
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var base64Str = ImageHelper.ConvertByteArrayToBase64(Model.Logo);
                            var mimeType = ImageHelper.GetMimeTypeFromImageByteArray(Model.Logo);
                        }
                        <label asp-for="Logo" class="control-label"></label>
                        <input type="hidden" id="base64Image" value="data:@mimeType;base64,@base64Str" />
                        <input asp-for="Logo" name="Logo" class="form-control-file" type="file" onchange="previewImage(event)" />
                        @* <img id="logoPreview" src="data:@mimeType;base64,@base64Str" alt="Selected Logo" style="display: block; max-width: 100px; max-height: 100px;" /> *@
                        <img id="logoPreview" src="#" alt="Selected Logo" style="display: none; max-width: 100px; max-height: 100px;" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
